### Transformaciones de datos

In [1]:
import pandas as pd
from pdfquery import PDFQuery
import os

In [2]:
root_dir = os.getcwd()
print(root_dir)

c:\Users\rfigu\Documents\Python Scripts\WebScrapp_pdf

In [3]:
# Lectura para obtener la fecha cierre del Resumen

pdf = PDFQuery('descargas\BANCOS012024.pdf')
pdf.load()
elementos_texto = pdf.pq('LTTextLineHorizontal')
texto = [t.text for t in elementos_texto]

In [5]:
pdf.load()
ele_texto = pdf.pq('LTTextLineHorizontal:contains("RESUMEN DE TASAS")')
textoTit = [t.text for t in ele_texto]

In [6]:
# Extraer fecha de cierre del pdf
ini = str(textoTit).find("MES:")
fin = len(str(textoTit[1]))
cadenaString = str(textoTit[1])

print(cadenaString[ini+3:fin-1])

Enero/2024

In [7]:
import pdfplumber

with pdfplumber.open('descargas\BANCOS012024.pdf') as pdf:
    first_page = pdf.pages[0]
    text = first_page.extract_text()

text

'RESUMEN DE TASAS REFERENCIALES - MES: Enero/2024\nInformacion remitida por las Entidades Bancarias (Circular SB.SG.N° 379/2011 de fecha 11/07/2011)\nTASAS DE INTERES ACTIVAS\nTARJETA DE CRÉDITO MICROCRÉDITOS <= 1AÑO VIVIENDA (fondos AFD) > 1AÑO VIVIENDA (fondos propios) > 1AÑO\nBANCO Tasa\nM/L M/E M/L M/E M/L M/E M/L M/E\nNominal Efectiva Nominal Efectiva Nominal Efectiva Nominal Efectiva Nominal Efectiva Nominal Efectiva Nominal Efectiva Nominal Efectiva\nMínima 1 4,00 1 4,94 - - 9 ,00 9 ,31 6 ,00 6 ,17 7 ,90 8 ,19 - - 7 ,95 8 ,25 - -\nBanco Nacional de Fomento\nMáxima 1 4,00 1 4,94 - - 1 2,00 1 2,55 8 ,75 9 ,11 1 1,40 1 2,02 - - 1 1,00 1 1,57 - -\nMínima - - - - - - - - - - - - - - - -\nBanco de la Nación Argentina\nMáxima - - - - - - - - - - - - - - - -\nMínima 1 5,65 1 6,93 - - - - - - 6 ,90 7 ,12 - - 1 5,00 1 6,07 - -\nBanco GNB Paraguay S.A.\nMáxima 1 5,65 1 6,93 - - - - - - 1 0,25 1 0,75 - - 1 8,00 1 9,56 - -\nMínima - - - - - - - - - - - - - - - -\nBanco Do Brasil S.A.\nMáxima - - - - - - - - - - - - - - - -\nMínima - - - - - - - - - - - - - - - -\nCitibank N.A.\nMáxima - - - - - - - - - - - - - - - -\nMínima 1 5,65 1 6,82 - - - - - - 7 ,90 8 ,19 7 ,50 7 ,76 1 0,90 1 1,46 7 ,50 7 ,76\nSudameris Bank S.A.E.C.A.\nMáxima 1 5,65 1 6,82 - - - - - - 1 3,00 1 3,80 9 ,50 9 ,93 1 8,00 1 9,56 1 0,15 1 0,64\nMínima 1 5,70 1 6,88 - - - - - - 6 ,90 7 ,12 5 ,50 5 ,64 1 0,00 1 0,47 5 ,50 5 ,64\nBanco Itaú Paraguay S.A.\nMáxima 1 5,70 1 6,88 - - - - - - 1 1,50 1 2,13 9 ,00 9 ,38 2 0,00 2 1,94 1 0,00 1 0,47\nMínima 1 5,60 1 6,88 - - 1 5,00 1 6,08 1 0,00 1 0,47 7 ,50 7 ,76 - - 1 2,00 1 2,68 - -\nBanco Continental S.A.E.C.A.\nMáxima 1 5,60 1 6,88 - - 2 5,00 2 8,08 1 0,24 1 0,74 1 3,00 1 3,80 - - 1 8,00 1 9,56 - -\nMínima 1 5,63 1 6,80 - - 1 5,00 1 6,08 9 ,00 9 ,38 6 ,90 7 ,12 - - 1 4,00 1 4,93 9 ,00 9 ,38\nBanco BASA S.A.\nMáxima 1 5,63 1 6,80 - - 2 6,27 2 9,68 1 0,20 1 0,69 1 2,25 1 2,96 - - 1 6,00 1 7,23 1 0,20 1 0,69\nMínima 1 5,70 1 6,88 - - 2 0,00 2 8,08 8 ,00 8 ,76 6 ,90 8 ,22 - - 1 4,00 1 5,77 7 ,00 7 ,74\nVisión Banco S.A.E.C.A.\nMáxima 1 5,70 1 6,88 - - 2 6,00 2 9,53 9 ,80 1 0,49 1 4,00 1 6,08 - - 2 0,00 2 1,93 9 ,80 1 0,49\nMínima 1 5,74 1 6,93 - - 1 9,75 2 1,64 7 ,75 8 ,03 1 0,00 1 0,47 7 ,00 7 ,23 2 3,75 2 6,51 1 0,24 1 0,74\nBanco Rio S.A.E.C.A.\nMáxima 1 6,27 1 6,93 - - 2 6,32 2 9,74 1 0,24 1 0,74 1 5,00 1 6,08 1 0,24 1 0,74 2 6,32 2 9,74 1 0,24 1 0,74\nMínima 1 5,70 1 6,93 - - 2 4,00 2 6,83 - - 8 ,75 9 ,11 - - 1 2,00 1 2,68 6 ,00 6 ,17\nBanco Familiar S.A.E.C.A.\nMáxima 1 5,70 1 6,93 - - 2 6,30 2 9,74 - - 9 ,50 9 ,93 - - 1 8,00 1 9,56 1 0,20 1 0,74\nMínima 1 1,88 1 2,56 3 ,97 4 ,04 1 6,22 1 7,48 8 ,00 8 ,30 7 ,90 8 ,19 - - 8 ,36 8 ,69 - -\nBanco Atlas S.A.\nMáxima 1 5,78 1 6,91 9 ,98 1 0,42 2 6,39 2 9,72 1 0,16 1 0,72 1 1,35 1 1,96 - - 1 5,41 1 6,55 - -\nMínima 1 5,72 1 6,90 - - 1 6,50 1 7,81 1 0,16 1 0,65 7 ,90 8 ,19 - - 1 2,90 1 3,69 - -\nBancop S.A.\nMáxima 1 5,72 1 6,90 - - 2 6,29 2 9,70 1 0,23 1 0,72 1 0,75 1 1,30 - - 1 3,90 1 4,82 - -\nMínima 1 0,00 1 0,47 - - 1 8,00 1 9,56 - - 7 ,90 8 ,19 - - - - - -\nInterfisa Banco SAECA\nMáxima 1 5,74 1 6,93 - - 2 6,32 2 9,74 - - 1 0,90 1 1,46 - - - - - -\nMínima 1 5,73 1 6,91 - - 2 6,30 2 9,72 - - 7 ,90 8 ,19 - - 2 2,00 2 4,36 - -\nBanco Solar SAE\nMáxima 1 5,75 1 6,93 - - 2 6,32 2 9,74 - - 1 0,90 1 1,46 - - 2 6,32 2 9,74 - -\n© BANCO CENTRAL DEL PARAGUAY. ALGUNOS DERECHOS RESERVADOS Y PRECAUTELADOS POR EL ARTÍCULO 40 DE LA LEY Nº 1328/98\nFEDERACIÓN RUSA Y CABO 1º MARECOS – ASUNCIÓN/PARAGUAY\nTELÉFONO: (+595 21) 608 011 (CENTRAL TELEFÓNICA)\nE-MAIL: INFO@BCP.GOV.'

In [8]:
import pdfplumber
import numpy as np

with pdfplumber.open('descargas\BANCOS012024.pdf') as pdf:
    first_page = pdf.pages[0]
    datatable = first_page.extract_tables()
    df_t = pd.DataFrame(datatable)

df_t

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,"[, , TASAS DE INTERES ACTIVAS, None, None, Non...","[BANCO, Tasa, TARJETA DE CRÉDITO, None, None, ...","[None, None, M/L, None, M/E, None, M/L, None, ...","[None, None, Nominal, Efectiva, Nominal, Efect...","[Banco Nacional de Fomento, Mínima, 1 4,00, 1 ...","[None, Máxima, 1 4,00, 1 4,94, -, -, 1 2,00, 1...","[Banco de la Nación Argentina, Mínima, -, -, -...","[None, Máxima, -, -, -, -, -, -, -, -, -, -, -...","[Banco GNB Paraguay S.A., Mínima, 1 5,65, 1 6,...","[None, Máxima, 1 5,65, 1 6,93, -, -, -, -, -, ...",...,"[Banco Familiar S.A.E.C.A., Mínima, 1 5,70, 1 ...","[None, Máxima, 1 5,70, 1 6,93, -, -, 2 6,30, 2...","[Banco Atlas S.A., Mínima, 1 1,88, 1 2,56, 3 ,...","[None, Máxima, 1 5,78, 1 6,91, 9 ,98, 1 0,42, ...","[Bancop S.A., Mínima, 1 5,72, 1 6,90, -, -, 1 ...","[None, Máxima, 1 5,72, 1 6,90, -, -, 2 6,29, 2...","[Interfisa Banco SAECA, Mínima, 1 0,00, 1 0,47...","[None, Máxima, 1 5,74, 1 6,93, -, -, 2 6,32, 2...","[Banco Solar SAE, Mínima, 1 5,73, 1 6,91, -, -...","[None, Máxima, 1 5,75, 1 6,93, -, -, 2 6,32, 2..."

In [9]:
headers = df_t.iloc[0].values
print(headers)
# df_t.columns = headers
# df_t.drop(index=0, axis=0, inplace=True)
# df_t = df_t.dropna()

[list(['', '', 'TASAS DE INTERES ACTIVAS', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None])
 list(['BANCO', 'Tasa', 'TARJETA DE CRÉDITO', None, None, None, 'MICROCRÉDITOS <= 1AÑO', None, None, None, 'VIVIENDA (fondos AFD) > 1AÑO', None, None, None, 'VIVIENDA (fondos propios) > 1AÑO', None, None, None])
 list([None, None, 'M/L', None, 'M/E', None, 'M/L', None, 'M/E', None, 'M/L', None, 'M/E', None, 'M/L', None, 'M/E', None])
 list([None, None, 'Nominal', 'Efectiva', 'Nominal', 'Efectiva', 'Nominal', 'Efectiva', 'Nominal', 'Efectiva', 'Nominal', 'Efectiva', 'Nominal', 'Efectiva', 'Nominal', 'Efectiva', 'Nominal', 'Efectiva'])
 list(['Banco Nacional de Fomento', 'Mínima', '1 4,00', '1 4,94', '-', '-', '9 ,00', '9 ,31', '6 ,00', '6 ,17', '7 ,90', '8 ,19', '-', '-', '7 ,95', '8 ,25', '-', '-'])
 list([None, 'Máxima', '1 4,00', '1 4,94', '-', '-', '1 2,00', '1 2,55', '8 ,75', '9 ,11', '1 1,40', '1 2,02', '-', '-', '1 1,00', '1 1,57', '-', '-'])
 list(['Banco de la Nación Argentina', 'Mínima', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'])
 list([None, 'Máxima', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'])
 list(['Banco GNB Paraguay S.A.', 'Mínima', '1 5,65', '1 6,93', '-', '-', '-', '-', '-', '-', '6 ,90', '7 ,12', '-', '-', '1 5,00', '1 6,07', '-', '-'])
 list([None, 'Máxima', '1 5,65', '1 6,93', '-', '-', '-', '-', '-', '-', '1 0,25', '1 0,75', '-', '-', '1 8,00', '1 9,56', '-', '-'])
 list(['Banco Do Brasil S.A.', 'Mínima', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'])
 list([None, 'Máxima', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'])
 list(['Citibank N.A.', 'Mínima', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'])
 list([None, 'Máxima', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'])
 list(['Sudameris Bank S.A.E.C.A.', 'Mínima', '1 5,65', '1 6,82', '-', '-', '-', '-', '-', '-', '7 ,90', '8 ,19', '7 ,50', '7 ,76', '1 0,90', '1 1,46', '7 ,50', '7 ,76'])
 list([None, 'Máxima', '1 5,65', '1 6,82', '-', '-', '-', '-', '-', '-', '1 3,00', '1 3,80', '9 ,50', '9 ,93', '1 8,00', '1 9,56', '1 0,15', '1 0,64'])
 list(['Banco Itaú Paraguay S.A.', 'Mínima', '1 5,70', '1 6,88', '-', '-', '-', '-', '-', '-', '6 ,90', '7 ,12', '5 ,50', '5 ,64', '1 0,00', '1 0,47', '5 ,50', '5 ,64'])
 list([None, 'Máxima', '1 5,70', '1 6,88', '-', '-', '-', '-', '-', '-', '1 1,50', '1 2,13', '9 ,00', '9 ,38', '2 0,00', '2 1,94', '1 0,00', '1 0,47'])
 list(['Banco Continental S.A.E.C.A.', 'Mínima', '1 5,60', '1 6,88', '-', '-', '1 5,00', '1 6,08', '1 0,00', '1 0,47', '7 ,50', '7 ,76', '-', '-', '1 2,00', '1 2,68', '-', '-'])
 list([None, 'Máxima', '1 5,60', '1 6,88', '-', '-', '2 5,00', '2 8,08', '1 0,24', '1 0,74', '1 3,00', '1 3,80', '-', '-', '1 8,00', '1 9,56', '-', '-'])
 list(['Banco BASA S.A.', 'Mínima', '1 5,63', '1 6,80', '-', '-', '1 5,00', '1 6,08', '9 ,00', '9 ,38', '6 ,90', '7 ,12', '-', '-', '1 4,00', '1 4,93', '9 ,00', '9 ,38'])
 list([None, 'Máxima', '1 5,63', '1 6,80', '-', '-', '2 6,27', '2 9,68', '1 0,20', '1 0,69', '1 2,25', '1 2,96', '-', '-', '1 6,00', '1 7,23', '1 0,20', '1 0,69'])
 list(['Visión Banco S.A.E.C.A.', 'Mínima', '1 5,70', '1 6,88', '-', '-', '2 0,00', '2 8,08', '8 ,00', '8 ,76', '6 ,90', '8 ,22', '-', '-', '1 4,00', '1 5,77', '7 ,00', '7 ,74'])
 list([None, 'Máxima', '1 5,70', '1 6,88', '-', '-', '2 6,00', '2 9,53', '9 ,80', '1 0,49', '1 4,00', '1 6,08', '-', '-', '2 0,00', '2 1,93', '9 ,80', '1 0,49'])
 list(['Banco Rio S.A.E.C.A.', 'Mínima', '1 5,74', '1 6,93', '-', '-', '1 9,75', '2 1,64', '7 ,75', '8 ,03', '1 0,00', '1 0,47', '7 ,00', '7 ,23', '2 3,75', '2 6,51', '1 0,24', '1 0,74'])
 list([None, 'Máxima', '1 6,27', '1 6,93', '-', '-', '2 6,32', '2 9,74', '1 0,24', '1 0,74', '1 5,00', '1 6,08', '1 0,24', '1 0,74', '2 6,32', '2 9,74', '1 0,24', '1 0,74'])
 list(['Banco Familiar S.A.E.C.A.', 'Mínima', '1 5,70', '1 6,93', '-', '-', '2 4,00', '2 6,83', '-', '-', '8 ,75', '9 ,11', '-', '-', '1 2,00', '1 2,68', '6 ,00', '6 ,17'])
 list([None, 'Máxima', '1 5,70', '1 6,93', '-', '-', '2 6,30', '2 9,74', '-', '-', '9 ,50', '9 ,93', '-', '-', '1 8,00', '1 9,56', '1 0,20', '1 0,74'])
 list(['Banco Atlas S.A.', 'Mínima', '1 1,88', '1 2,56', '3 ,97', '4 ,04', '1 6,22', '1 7,48', '8 ,00', '8 ,30', '7 ,90', '8 ,19', '-', '-', '8 ,36', '8 ,69', '-', '-'])
 list([None, 'Máxima', '1 5,78', '1 6,91', '9 ,98', '1 0,42', '2 6,39', '2 9,72', '1 0,16', '1 0,72', '1 1,35', '1 1,96', '-', '-', '1 5,41', '1 6,55', '-', '-'])
 list(['Bancop S.A.', 'Mínima', '1 5,72', '1 6,90', '-', '-', '1 6,50', '1 7,81', '1 0,16', '1 0,65', '7 ,90', '8 ,19', '-', '-', '1 2,90', '1 3,69', '-', '-'])
 list([None, 'Máxima', '1 5,72', '1 6,90', '-', '-', '2 6,29', '2 9,70', '1 0,23', '1 0,72', '1 0,75', '1 1,30', '-', '-', '1 3,90', '1 4,82', '-', '-'])
 list(['Interfisa Banco SAECA', 'Mínima', '1 0,00', '1 0,47', '-', '-', '1 8,00', '1 9,56', '-', '-', '7 ,90', '8 ,19', '-', '-', '-', '-', '-', '-'])
 list([None, 'Máxima', '1 5,74', '1 6,93', '-', '-', '2 6,32', '2 9,74', '-', '-', '1 0,90', '1 1,46', '-', '-', '-', '-', '-', '-'])
 list(['Banco Solar SAE', 'Mínima', '1 5,73', '1 6,91', '-', '-', '2 6,30', '2 9,72', '-', '-', '7 ,90', '8 ,19', '-', '-', '2 2,00', '2 4,36', '-', '-'])
 list([None, 'Máxima', '1 5,75', '1 6,93', '-', '-', '2 6,32', '2 9,74', '-', '-', '1 0,90', '1 1,46', '-', '-', '2 6,32', '2 9,74', '-', '-'])]

In [11]:
headers[4]

['Banco Nacional de Fomento',
 'Mínima',
 '1 4,00',
 '1 4,94',
 '-',
 '-',
 '9 ,00',
 '9 ,31',
 '6 ,00',
 '6 ,17',
 '7 ,90',
 '8 ,19',
 '-',
 '-',
 '7 ,95',
 '8 ,25',
 '-',
 '-']