## Proyecto Datos estadisticos de Bancos BCParaguay; 
Data Engineer:  Rodrigo Figueredo 
Objetivo: se necesita un proceso consistente de extraccion de datos para cargarlo en un Datawarehouse en SQL, el proceso deber√° correr de forma mensual y que contenga los datos consistente y evitar a manipulaci√≥n manual del excel origen.

Antes que nada debemos monitorear, depurar y auditar cada paso.

In [4]:

# Configuraci√≥n logging
# Primero, configuramos el logger al inicio del script:
import os
import logging
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime
import logging
import pyodbc

# Obtener la ruta actual
ruta_actual = os.getcwd()
# Configurar logging
logging.basicConfig(
    filename=f'{ruta_actual}/etl_proceso.log',       # Archivo de log
    level=logging.INFO,               # Nivel de log: DEBUG, INFO, WARNING, ERROR, CRITICAL
    format='%(asctime)s - %(levelname)s - %(message)s',
    filemode='w'                      # 'w' sobrescribe cada vez, 'a' acumula
)

logger = logging.getLogger()
print('Se inicializa parametros')

Se inicializa parametros

üß©1. Extracci√≥n (Extract)

In [8]:
import pandas as pd

## ruta del archivo
excel_file = 'C:/Users/rfigu/Documents/Python Scripts/BoletinBCP/Tablas_Boletin_Bancos_Jul25.xlsx'

def extraer_excel(excel_file):
    try:
        logger.info(f"Iniciando extracci√≥n desde: {excel_file}")
        sheets_dict = pd.read_excel(excel_file, sheet_name=None)
        # Acceder a cada hoja como DataFrame
        for sheet_name, df in sheets_dict.items():
            print(f"Hoja: {sheet_name}, Filas: {len(df)}")
        # logger.info(f"Iniciando extracci√≥n desde: {excel_file}")
        # sheets_dict = pd.read_excel(excel_file, sheet_name=None)
        # # Acceder a cada hoja como DataFrame
        # for sheet_name, df in sheets_dict.items():
        #     print(f"Hoja: {sheet_name}, Filas: {len(df)}")
        #     logger.info(f"Hoja: {sheet_name}, Filas: {len(df)}")
        return sheets_dict
    except Exception as e:
        logger.error(f"Error en la extracci√≥n: {e}")
        raise

In [ ]:
# Cargar todas las hojas del Excel en un diccionario
excel_file = 'C:/Users/rfigu/Documents/Python Scripts/BoletinBCP/Tablas_Boletin_Bancos_Jul25.xlsx'
sheets_dict = pd.read_excel(excel_file, sheet_name=None)

# Acceder a cada hoja como DataFrame
for sheet_name, df in sheets_dict.items():
    print(f"Hoja: {sheet_name}, Filas: {len(df)}")

In [ ]:
# Obtener ruta actual
ruta_actual = os.getcwd()
logger.info(f"Ruta actual de ejecuci√≥n: {ruta_actual}")

# Ruta del archivo Excel
excel_file = 'C:/Users/rfigu/Documents/Python Scripts/BoletinBCP/Tablas_Boletin_Bancos_Jul25.xlsx'

# Extracci√≥n de hojas
try:
    logger.info(f"Iniciando lectura del archivo Excel: {excel_file}")
    sheets_dict = pd.read_excel(excel_file, sheet_name=None)
    logger.info(f"Lectura exitosa. Hojas encontradas: {list(sheets_dict.keys())}")
    
    # Acceder a cada hoja como DataFrame
    for sheet_name, df in sheets_dict.items():
        logger.info(f"Hoja: {sheet_name}, Filas: {len(df)}")
        print(f"Hoja: {sheet_name}, Filas: {len(df)}")

except Exception as e:
    logger.error(f"Error al leer el archivo Excel: {e}")
    print(f"Error: {e}")

Hoja: EEFF, Filas: 224012
Hoja: Ratios, Filas: 82673
Hoja: Carteras, Filas: 49860
Hoja: Credito Sector, Filas: 43629
Hoja: CreditoActividad, Filas: 9333
Hoja: Categor√≠a_Creditos, Filas: 14500
Hoja: TC, Filas: 3872
Hoja: Canales_Person, Filas: 13198
Hoja: Inhab, Filas: 7443

1.1 EDA - Exploratory Data Analysis

In [15]:
## Vista previa de los datos la hoja
sheets_dict.get('Carteras').head()

,Fecha,Codigo Entidad,Codigo Cuenta,Codigo Moneda,Importe
0,2016-01-31,1002,Cartera Vigente,6200,2.383314e+05
1,2016-01-31,1002,Cartera Vigente,6900,2.075860e+06
2,2016-01-31,1002,Cartera Vigente Neta de Previsiones,6200,2.383314e+05
3,2016-01-31,1002,Cartera Vigente Neta de Previsiones,6900,2.051322e+06
4,2016-01-31,1002,Renovados,6200,1.601913e+04

In [16]:
## Vista previa de los tipos de datos la hoja
sheets_dict.get('TC').dtypes

Fecha             datetime64[ns]
Codigo Entidad             int64
Clasificaci√≥n             object
Total                    float64
dtype: object

üîÑ 2. Transformaci√≥n (Transform)

Aqu√≠ puedes aplicar limpieza, normalizaci√≥n, validaci√≥n, etc. Ejemplo:

In [19]:
# Funci√≥n de transformaci√≥n con logging
def transforBol(df, nombre_hoja):
    try:
        logger.info(f"Iniciando transformaci√≥n de hoja: {nombre_hoja}")

        # Eliminar filas vac√≠as
        df = df.dropna(how='all')
        logger.info(f"Filas vac√≠as eliminadas en hoja: {nombre_hoja}")

        # Renombrar columnas
        columnas_originales = df.columns.tolist()
        df.columns = [col.strip().lower().replace(' ', '_') for col in df.columns]
        logger.info(f"Columnas renombradas en hoja: {nombre_hoja} ‚Äî Originales: {columnas_originales} ‚Üí Nuevas: {df.columns.tolist()}")

        # Convertir fechas
        if 'fecha' in df.columns:
            df['fecha'] = pd.to_datetime(df['fecha'], errors='coerce')
            errores_fecha = df['fecha'].isna().sum()
            logger.info(f"Columna 'fecha' convertida en hoja: {nombre_hoja}. Errores de conversi√≥n: {errores_fecha}")
        else:
            logger.warning(f"No se encontr√≥ columna 'fecha' en hoja: {nombre_hoja}")

        logger.info(f"Transformaci√≥n completada para hoja: {nombre_hoja}")
        return df

    except Exception as e:
        logger.error(f"Error al transformar hoja {nombre_hoja}: {e}")
        raise

# Aplicar transformaci√≥n a cada hoja
datos_transformados = {}

for sheet, df in sheets_dict.items():
    datos_transformados[sheet] = transforBol(df, sheet)

In [ ]:
## version  sin Looger
def transforBol(df):
    # Eliminar filas vac√≠as
    df = df.dropna(how='all')
    
    # Renombrar columnas
    df.columns = [col.strip().lower().replace(' ', '_') for col in df.columns]
    
    # Convertir fechas
    if 'fecha' in df.columns:
        df['fecha'] = pd.to_datetime(df['fecha'], errors='coerce')
    
    return df

# Aplicar transformaci√≥n a cada hoja
datos_transformados = {sheet: transforBol(df) for sheet, df in sheets_dict.items()}

In [20]:
datos_transformados.get('Credito Sector').head(3)

,fecha,codigo_entidad,codigo_moneda,actividad_destino_vs2,cartera_vencida,cartera_vigente
0,2016-01-31,1002,6200,AGRICULTURA,2416.278988,152923.648836
1,2016-01-31,1002,6200,SECTOR FINANCIERO,0.000000,83374.169137
2,2016-01-31,1002,6200,VIVIENDA,0.000000,2033.573859

üì• 3. Carga (Load)

In [ ]:
# Consulta de prueba
# query = "SELECT * FROM dbo.FortalezaTemp"
# df_query = pd.read_sql(query, connection)
# df_query.tail()

In [ ]:
# Par√°metros de conexi√≥n
server = 'ASUSTUF\SQL22'  # Doble barra para escapar correctamente
database = 'BolBcp'

try:
    logger.info(f"Intentando conectar a SQL Server: {server}, Base de datos: {database}")
    
    connP = pyodbc.connect(
        'DRIVER={ODBC Driver 17 for SQL Server};'
        f'SERVER={server};'
        f'DATABASE={database};'
        'Trusted_Connection=yes;'
    )
    
    logger.info("Conexi√≥n a SQL Server establecida exitosamente.")
    print('Conexi√≥n exitosa')

except pyodbc.Error as e:
    logger.error(f"Error al conectar a la base de datos: {str(e)}")
    print(f'Error al conectar a la base de datos: {str(e)}')

Error al conectar a la base de datos: ('08001', '[08001] [Microsoft][ODBC Driver 17 for SQL Server]Named Pipes Provider: Could not open a connection to SQL Server [67].  (67) (SQLDriverConnect); [08001] [Microsoft][ODBC Driver 17 for SQL Server]Login timeout expired (0); [08001] [Microsoft][ODBC Driver 17 for SQL Server]A network-related or instance-specific error has occurred while establishing a connection to SQL Server. Server is not found or not accessible. Check if instance name is correct and if SQL Server is configured to allow remote connections. For more information see SQL Server Books Online. (67)')

In [ ]:
# query de ejemplo
# query = "SELECT * FROM dbo.FortalezaTemp"
# df_query = pd.read_sql(query, connection)
# df_query.tail()

In [46]:
for nombre_hoja, df in datos_transformados.items():
    # df ya es un DataFrame
    print(df)

            fecha  codigo_entidad                                sub_rubro  \
0      2016-01-31            1002     Administraci√≥n de Cuentas Corrientes
1      2016-01-31            1002  Bienes Realizados y adjudicados en pago
2      2016-01-31            1002                            Bienes de Uso
3      2016-01-31            1002                            Caja y Bancos
4      2016-01-31            1002                            Caja y Bancos
...           ...             ...                                      ...
224007 2025-07-31            1047             RESULTADO ANTES DE PREVISI√ìN
224008 2025-07-31            1047              UTILIDAD ANTES DE IMPUESTOS
224009 2025-07-31            1047              UTILIDAD ANTES DE IMPUESTOS
224010 2025-07-31            1047                    UTILIDAD A DISTRIBUIR
224011 2025-07-31            1047                    UTILIDAD A DISTRIBUIR

        codigo_moneda        importe reporte
0                6900     642.189503    EERR
1                6900   18448.915084      BG
2                6900   94418.620608      BG
3                6200  252908.967530      BG
4                6900  626925.554436      BG
...               ...            ...     ...
224007           6900   35166.867987    EERR
224008           6200   17439.630761    EERR
224009           6900   10312.913558    EERR
224010           6200   17439.630761    EERR
224011           6900    7599.744206    EERR

[224012 rows x 6 columns]
           fecha  codigo_entidad  \
0     2016-01-31            1002
1     2016-01-31            1002
2     2016-01-31            1002
3     2016-01-31            1002
4     2016-01-31            1002
...          ...             ...
82668 2025-07-31            1043
82669 2025-07-31            1044
82670 2025-07-31            1045
82671 2025-07-31            1046
82672 2025-07-31            1047

                                               sub_rubro         total
0                            Capital Principal (Nivel 1)  8.218840e+05
1      Capital Complementario (Nivel 2) (limitado al ...  6.981100e+04
2                      ACTIVOS Y CONTINGENTES PONDERADOS  2.041728e+06
3                             Relaci√≥n entre TIER 1/ACPR  4.025434e-01
4                    Relaci√≥n entre TIER 1 + TIER 2/ACPR  4.367356e-01
...                                                  ...           ...
82668  Margen Financiero/Activos y Contingentes Ponde...  4.448509e-02
82669  Margen Financiero/Activos y Contingentes Ponde...  2.989287e-02
82670  Margen Financiero/Activos y Contingentes Ponde...  7.127094e-02
82671  Margen Financiero/Activos y Contingentes Ponde...  1.252427e-02
82672  Margen Financiero/Activos y Contingentes Ponde...  2.915952e-02

[82673 rows x 4 columns]
           fecha  codigo_entidad                          codigo_cuenta  \
0     2016-01-31            1002                        Cartera Vigente
1     2016-01-31            1002                        Cartera Vigente
2     2016-01-31            1002    Cartera Vigente Neta de Previsiones
3     2016-01-31            1002    Cartera Vigente Neta de Previsiones
4     2016-01-31            1002                              Renovados
...          ...             ...                                    ...
49855 2025-07-31            1047                        Cartera Vencida
49856 2025-07-31            1047                   Medidas transitorias
49857 2025-07-31            1047                   Medidas transitorias
49858 2025-07-31            1047                    Tarjetas de Cr√©dito
49859 2025-07-31            1047  Medida Excepcional COVID 19 - Vencida

       codigo_moneda       importe
0               6200  2.383314e+05
1               6900  2.075860e+06
2               6200  2.383314e+05
3               6900  2.051322e+06
4               6200  1.601913e+04
...              ...           ...
49855           6900  3.069722e+04
49856           6200  5.406893e+04
49857           6900  1.510837e+04
49858           6900  2.820068e+04
49859           6900  7.706397e+01

[49860 rows x 5 columns]
           fecha  codigo_entidad  codigo_moneda   actividad_destino_vs2  \
0     2016-01-31            1002           6200             AGRICULTURA
1     2016-01-31            1002           6200       SECTOR FINANCIERO
2     2016-01-31            1002           6200                VIVIENDA
3     2016-01-31            1002           6900  ADMINISTRACION PUBLICA
4     2016-01-31            1002           6900             AGRICULTURA
...          ...             ...            ...                     ...
43624 2025-07-31            1047           6900               INDUSTRIA
43625 2025-07-31            1047           6900                   OTROS
43626 2025-07-31            1047           6900       SECTOR FINANCIERO
43627 2025-07-31            1047           6900               SERVICIOS
43628 2025-07-31            1047           6900                VIVIENDA

       cartera_vencida  cartera_vigente
0          2416.278988    152923.648836
1             0.000000     83374.169137
2             0.000000      2033.573859
3             0.000000         0.421259
4         27033.150841    578460.238045
...                ...              ...
43624      1501.999050    111927.885248
43625       826.500000     18413.663708
43626              NaN     86035.105337
43627      9493.161454    516540.183760
43628       355.565218     23513.439953

[43629 rows x 6 columns]
          fecha  codigo_entidad descripcion_actividad  codigo_moneda  \
0    2016-01-31            1002      CULTIVO DE ARROZ           6900
1    2016-01-31            1002       CULTIVO DE SOJA           6200
2    2016-01-31            1002       CULTIVO DE SOJA           6900
3    2016-01-31            1002      CULTIVO DE TRIGO           6200
4    2016-01-31            1002      CULTIVO DE TRIGO           6900
...         ...             ...                   ...            ...
9328 2025-07-31            1046      CULTIVO DE TRIGO           6900
9329 2025-07-31            1047      CULTIVO DE ARROZ           6200
9330 2025-07-31            1047      CULTIVO DE ARROZ           6900
9331 2025-07-31            1047       CULTIVO DE SOJA           6200
9332 2025-07-31            1047       CULTIVO DE SOJA           6900

      cartera_vencida  cartera_vigente
0          110.932750       476.254114
1            0.000000       541.814369
2          163.175343      4006.468554
3          233.493740       905.874475
4         1756.162528      3094.344268
...               ...              ...
9328         0.448688      3027.149426
9329              NaN     13867.975841
9330              NaN      4521.486634
9331       985.617098    334064.966303
9332      2499.969007     23508.005919

[9333 rows x 6 columns]
           fecha  codigo_entidad codigo_tipo_riesgo         total
0     2016-01-31            1002                  4  3.213221e+03
1     2016-01-31            1002                  3  6.191502e+03
2     2016-01-31            1002                  5  6.496558e+03
3     2016-01-31            1002                  2  1.052006e+04
4     2016-01-31            1002                 1a  3.003082e+04
...          ...             ...                ...           ...
14495 2025-07-31            1002                  1  1.633437e+07
14496 2025-07-31            1004                  1  1.688123e+07
14497 2025-07-31            1017                  1  2.349120e+07
14498 2025-07-31            1008                  1  2.960575e+07
14499 2025-07-31            1020                  1  2.997390e+07

[14500 rows x 4 columns]
          fecha  codigo_entidad clasificaci√≥n         total
0    2016-01-31            1002         Saldo  5.391296e+04
1    2016-01-31            1003         Saldo  0.000000e+00
2    2016-01-31            1004         Saldo  6.164428e+04
3    2016-01-31            1005         Saldo  0.000000e+00
4    2016-01-31            1006         Saldo  0.000000e+00
...         ...             ...           ...           ...
3867 2025-07-31            1045         Saldo  4.946508e+04
3868 2025-07-31            1046      Cantidad  1.080166e+06
3869 2025-07-31            1046         Saldo  6.233137e+05
3870 2025-07-31            1047      Cantidad  5.498000e+03
3871 2025-07-31            1047         Saldo  2.820068e+04

[3872 rows x 4 columns]
           fecha  codigo_entidad        clasificaci√≥n  \
0     2016-01-31            1002  Canales de Atenci√≥n
1     2016-01-31            1002  Canales de Atenci√≥n
2     2016-01-31            1002  Canales de Atenci√≥n
3     2016-01-31            1002  Canales de Atenci√≥n
4     2016-01-31            1002             Personal
...          ...             ...                  ...
13193 2025-07-31            1047  Canales de Atenci√≥n
13194 2025-07-31            1047  Canales de Atenci√≥n
13195 2025-07-31            1047             Personal
13196 2025-07-31            1047             Personal
13197 2025-07-31            1047             Personal

                    descripci√≥n  total
0           Cajeros Autom√°ticos    198
1      Corresponsal no Bancario      0
2      Terminal de Autoservicio      0
3                  Dependencias     71
4                      Superior     47
...                         ...    ...
13193              Dependencias      0
13194         Cajero Autom√°tico     13
13195           Plana Directiva     12
13196           Plana Ejecutiva     34
13197                     Otros    180

[13198 rows x 5 columns]
       a√±o  mes  codigo_entidad  causal  inhab  rehab
0     2008    2            1002  Art.01   19.0    NaN
1     2008    2            1002  Art.10    NaN   12.0
2     2008    2            1002  Art.13    NaN    2.0
3     2008    2            1003  Art.10    NaN    1.0
4     2008    2            1004  Art.01    2.0    NaN
...    ...  ...             ...     ...    ...    ...
7438  2025    7            1045  Art.10    4.0    NaN
7439  2025    7            1045  Art.13    1.0    NaN
7440  2025    7            1046  Art.10   35.0   25.0
7441  2025    7            1046  Art.13   11.0   17.0
7442  2025    7            1047  Art.13    1.0    NaN

[7443 rows x 6 columns]

In [8]:
# Par√°metros de conexi√≥n
server = 'ASUSTUF\SQL22'
database = 'BolBcp'
driver = 'ODBC Driver 17 for SQL Server'

# Crear cadena de conexi√≥n para SQLAlchemy
conexion_str = f"mssql+pyodbc://@{server}/{database}?driver={driver}&trusted_connection=yes"

try:
    engine = create_engine(conexion_str)
    print(f"‚úÖ conexion exitosa")
    logger.info(f"Conexi√≥n a SQL Server establecida: {server}, Base de datos: {database}")
except Exception as e:
    print(f"‚ùå fallo en la conexion")
    logger.error(f"Error al crear engine SQLAlchemy: {e}")
    raise

‚úÖ conexion exitosa

In [ ]:
# Cargar cada hoja transformada como tabla
for nombre_tabla, df in datos_transformados.items():
    try:
        logger.info(f"Iniciando carga de hoja: {nombre_tabla}")

        # Eliminar filas completamente vac√≠as
        df = df.dropna(how='all')
        # Agregar columna de fecha y hora de carga
        df['fecha_carga'] = datetime.now()

        # Insertar usando pandas
        df.to_sql(name=nombre_tabla, con=engine, if_exists='replace', index=False)

        logger.info(f"Hoja '{nombre_tabla}' cargada exitosamente con {len(df)} filas.")
        print(f"‚úÖ Hoja '{nombre_tabla}' cargada exitosamente con {len(df)} filas.")

    except Exception as e:
        logger.error(f"Error al cargar hoja '{nombre_tabla}': {e}")
        print(f"‚ùå Error al cargar hoja '{nombre_tabla}': {e}")

‚úÖ Hoja 'EEFF' cargada exitosamente con 224012 filas.
‚úÖ Hoja 'Ratios' cargada exitosamente con 82673 filas.
‚úÖ Hoja 'Carteras' cargada exitosamente con 49860 filas.
‚úÖ Hoja 'Credito Sector' cargada exitosamente con 43629 filas.
‚úÖ Hoja 'CreditoActividad' cargada exitosamente con 9333 filas.
‚úÖ Hoja 'Categor√≠a_Creditos' cargada exitosamente con 14500 filas.
‚úÖ Hoja 'TC' cargada exitosamente con 3872 filas.
‚úÖ Hoja 'Canales_Person' cargada exitosamente con 13198 filas.
‚úÖ Hoja 'Inhab' cargada exitosamente con 7443 filas.

Leer por nombre de tabla (si el Excel tiene tablas definidas)

In [6]:
## conexion a la Base datos SQL Server v2022
path = 'C:/Users/rfigu/Documents/Python Scripts/BoletinBCP/Dimensiones y referencias.xlsx'


dfDepara = pd.read_excel(path, sheet_name="entidad")
logger.info(f"Archivo cargado con {len(dfDepara)} registros")

dfDepara.head()

,Codigo Entidad,Raz√≥n Social,Entidad,Tipo Entidad
0,1002,BANCO NACIONAL DE FOMENTO,BNF,Participaci√≥n Estatal
1,1003,BANCO DE LA NACION ARGENTINA,BNA,Suc. Direct. Extranj
2,1004,BANCO GNB PARAGUAY S.A.,GNB,P. Extranj. Mayorit.
3,1005,BANCO DO BRASIL S.A.,Do Brasil,Suc. Direct. Extranj
4,1006,CITIBANK N.A.,Citibank,Suc. Direct. Extranj

In [9]:
dfDepara.to_sql(name='DeParabanco', con=conexion_str, if_exists='replace',index=False)

21