### Extract Data from PDF Files with Python

In [1]:
import pdfplumber
with pdfplumber.open("38_Septiembre_2023.pdf") as temp:
   first_page = temp.pages[0]
   print(first_page.extract_table())

[['Cod', 'Descripcion', 'Unidad de\nmedida', 'Cantidad', 'Precio\nUnitario', 'Descuento', 'Exentas', '5%', '10%'], ['ESPERA20EX', 'Espera - ESPERA_EXENTA Sep/23 31:240 - Cto.:\n13467', 'UNI', '1.00', '1.100.000.0', '0.00', '1.100.000.0', '', ''], ['ESPERA20IM', 'Gastos Administrativos', 'UNI', '1.00', '275.000.0', '0.00', '', '', '275.000.0'], ['SUBTOTAL:', None, None, None, None, None, '1.100.000,0', '0,0', '275.000,0'], ['TOTAL DE LA OPERACIÓN', None, None, None, None, None, None, None, '1.375.000'], ['UN MILLON TRESCIENTOS SETENTA Y CINCO MIL GUARANIES', None, None, None, None, None, None, None, '1.375.000'], ['LIQUIDACIÓN IVA: (5%) (10%) 25.000 TOTAL IVA: 25.000', None, None, None, None, None, None, None, None]]

In [2]:
# !pip install PDFPlumber
import pdfplumber
with pdfplumber.open("38_Septiembre_2023.pdf") as temp:
   first_page = temp.pages[0]
   print(first_page.extract_text())

001-001-0155745
FORTALEZA INMUEBLES SAE
Quesada N° 4.926 Edificio Atlas Center, Piso 4, Asunción, Paraguay RUC: 80009243-0
Puente Cavalcanti esq. Andrés Rojas, Edificio World Trade Center, Piso 1, Timbrado N°: 15290986
Ciudad del Este, Paraguay Fecha de Inicio de Vigencia: 2021-12-07
Teléfono: (+595 21) 614 412 R.A - (0971) 614 412
Email: info@fortalezainmuebles.com
Actividad económica: Actividades inmobiliarias realizadas con bienes propios
o arrendados
Fecha y hora de emisión: 11-09-2023 18:09:00
Nombre o Razón Social: Rodrigo Manuel Figueredo Benitez
RUC/Documento de Identidad N°: 4253149-7 Condición de Venta: Contado
Moneda: PYG Tipo de transacción: Operación presencial
Dirección:
Email: rmanuelfigueredo@gmail.com Teléfono:
Unidad de Precio
Cod Descripcion Cantidad Descuento Exentas 5% 10%
medida Unitario
Espera - ESPERA_EXENTA Sep/23 31:240 - Cto.:
ESPERA20EX UNI 1.00 1.100.000.0 0.00 1.100.000.0
13467
ESPERA20IM Gastos Administrativos UNI 1.00 275.000.0 0.00 275.000.0
SUBTOTAL: 1.100.000,0 0,0 275.000,0
TOTAL DE LA OPERACIÓN 1.375.000
UN MILLON TRESCIENTOS SETENTA Y CINCO MIL GUARANIES 1.375.000
LIQUIDACIÓN IVA: (5%) (10%) 25.000 TOTAL IVA: 25.000
Consulte la validez de esta Factura Electrónica con el número de CDC impreso abajo en:
https://ekuatia.set.gov.py/consultas/
Información de interés del facturador electrónico emisor.
Si su documento electrónico presenta algún error, podrá solicitar la modificación dentro de las 72 horas siguientes de la emisión de este comprobante.
Servicio proveído por

In [3]:
text = first_page.extract_text()
lines = text.split('\n')
filtered_lines = [line for line in lines if 'Fecha' in line]
print('\n'.join(filtered_lines))

Ciudad del Este, Paraguay Fecha de Inicio de Vigencia: 2021-12-07
Fecha y hora de emisión: 11-09-2023 18:09:00

In [4]:
print(filtered_lines)

['Ciudad del Este, Paraguay Fecha de Inicio de Vigencia: 2021-12-07', 'Fecha y hora de emisión: 11-09-2023 18:09:00']

In [5]:
# !pip install PDFPlumber
import pdfplumber
with pdfplumber.open("38_Septiembre_2023.pdf") as temp:
   first_page = temp.pages[0]
   print(first_page.extract_table())

[['Cod', 'Descripcion', 'Unidad de\nmedida', 'Cantidad', 'Precio\nUnitario', 'Descuento', 'Exentas', '5%', '10%'], ['ESPERA20EX', 'Espera - ESPERA_EXENTA Sep/23 31:240 - Cto.:\n13467', 'UNI', '1.00', '1.100.000.0', '0.00', '1.100.000.0', '', ''], ['ESPERA20IM', 'Gastos Administrativos', 'UNI', '1.00', '275.000.0', '0.00', '', '', '275.000.0'], ['SUBTOTAL:', None, None, None, None, None, '1.100.000,0', '0,0', '275.000,0'], ['TOTAL DE LA OPERACIÓN', None, None, None, None, None, None, None, '1.375.000'], ['UN MILLON TRESCIENTOS SETENTA Y CINCO MIL GUARANIES', None, None, None, None, None, None, None, '1.375.000'], ['LIQUIDACIÓN IVA: (5%) (10%) 25.000 TOTAL IVA: 25.000', None, None, None, None, None, None, None, None]]

In [14]:
tabla = first_page.extract_table()
encabezados = tabla[0]
fila1 = tabla[1]
fila2 = tabla[2]
fila3 = tabla[3]
fila4 = tabla[4]
fila5 = tabla[5]
fila6 = tabla[6]

In [53]:
import pandas as pd
df = pd.DataFrame(columns=encabezados)
df.loc[len(df)] = fila1
df.loc[len(df)] = fila2
df.loc[len(df)] = fila3
df.loc[len(df)] = fila4
df.loc[len(df)] = fila5
df.loc[len(df)] = fila6
df

,Cod,Descripcion,Unidad de\nmedida,Cantidad,Precio\nUnitario,Descuento,Exentas,5%,10%
0,ESPERA20EX,Espera - ESPERA_EXENTA Sep/23 31:240 - Cto.:\n...,UNI,1.00,1.100.000.0,0.00,1.100.000.0,,
1,ESPERA20IM,Gastos Administrativos,UNI,1.00,275.000.0,0.00,,,275.000.0
2,SUBTOTAL:,None,None,None,None,None,"1.100.000,0","0,0","275.000,0"
3,TOTAL DE LA OPERACIÓN,None,None,None,None,None,None,None,1.375.000
4,UN MILLON TRESCIENTOS SETENTA Y CINCO MIL GUAR...,None,None,None,None,None,None,None,1.375.000
5,LIQUIDACIÓN IVA: (5%) (10%) 25.000 TOTAL IVA: ...,None,None,None,None,None,None,None,None

In [31]:
type(dftabla)

pandas.core.frame.DataFrame

In [46]:
b = first_page.extract_text()
nroFact  =b[0:15]
print("Nro Factura: {}".format(nroFact))

Nro Factura: 001-001-0155745

In [55]:
df['NroFactura']=nroFact
df

,Cod,Descripcion,Unidad de\nmedida,Cantidad,Precio\nUnitario,Descuento,Exentas,5%,10%,NroFactura
0,ESPERA20EX,Espera - ESPERA_EXENTA Sep/23 31:240 - Cto.:\n...,UNI,1.00,1.100.000.0,0.00,1.100.000.0,,,001-001-0155745
1,ESPERA20IM,Gastos Administrativos,UNI,1.00,275.000.0,0.00,,,275.000.0,001-001-0155745
2,SUBTOTAL:,None,None,None,None,None,"1.100.000,0","0,0","275.000,0",001-001-0155745
3,TOTAL DE LA OPERACIÓN,None,None,None,None,None,None,None,1.375.000,001-001-0155745
4,UN MILLON TRESCIENTOS SETENTA Y CINCO MIL GUAR...,None,None,None,None,None,None,None,1.375.000,001-001-0155745
5,LIQUIDACIÓN IVA: (5%) (10%) 25.000 TOTAL IVA: ...,None,None,None,None,None,None,None,None,001-001-0155745

In [41]:
text = first_page.extract_text()
lines = text.split('\n')
filtered_lines = [line for line in lines if 'Fecha y hora' in line]
# print('\n'.join(filtered_lines))

str(filtered_lines)
fechafact =str(filtered_lines)[27:37]
print("Fecha Emision: {}".format(fechafact))

Fecha y hora de emisión: 11-09-2023 18:09:00

In [58]:
df['FechaEmision']=fechafact
df

,Cod,Descripcion,Unidad de\nmedida,Cantidad,Precio\nUnitario,Descuento,Exentas,5%,10%,NroFactura,FechaEmision
0,ESPERA20EX,Espera - ESPERA_EXENTA Sep/23 31:240 - Cto.:\n...,UNI,1.00,1.100.000.0,0.00,1.100.000.0,,,001-001-0155745,11-09-2023
1,ESPERA20IM,Gastos Administrativos,UNI,1.00,275.000.0,0.00,,,275.000.0,001-001-0155745,11-09-2023
2,SUBTOTAL:,None,None,None,None,None,"1.100.000,0","0,0","275.000,0",001-001-0155745,11-09-2023
3,TOTAL DE LA OPERACIÓN,None,None,None,None,None,None,None,1.375.000,001-001-0155745,11-09-2023
4,UN MILLON TRESCIENTOS SETENTA Y CINCO MIL GUAR...,None,None,None,None,None,None,None,1.375.000,001-001-0155745,11-09-2023
5,LIQUIDACIÓN IVA: (5%) (10%) 25.000 TOTAL IVA: ...,None,None,None,None,None,None,None,None,001-001-0155745,11-09-2023

In [59]:
df['FechaEmision'] = pd.to_datetime(df['FechaEmision'])

In [60]:
df.dtypes

Cod                          object
Descripcion                  object
Unidad de\nmedida            object
Cantidad                     object
Precio\nUnitario             object
Descuento                    object
Exentas                      object
5%                           object
10%                          object
NroFactura                   object
FechaEmision         datetime64[ns]
dtype: object

In [61]:
df

,Cod,Descripcion,Unidad de\nmedida,Cantidad,Precio\nUnitario,Descuento,Exentas,5%,10%,NroFactura,FechaEmision
0,ESPERA20EX,Espera - ESPERA_EXENTA Sep/23 31:240 - Cto.:\n...,UNI,1.00,1.100.000.0,0.00,1.100.000.0,,,001-001-0155745,2023-11-09
1,ESPERA20IM,Gastos Administrativos,UNI,1.00,275.000.0,0.00,,,275.000.0,001-001-0155745,2023-11-09
2,SUBTOTAL:,None,None,None,None,None,"1.100.000,0","0,0","275.000,0",001-001-0155745,2023-11-09
3,TOTAL DE LA OPERACIÓN,None,None,None,None,None,None,None,1.375.000,001-001-0155745,2023-11-09
4,UN MILLON TRESCIENTOS SETENTA Y CINCO MIL GUAR...,None,None,None,None,None,None,None,1.375.000,001-001-0155745,2023-11-09
5,LIQUIDACIÓN IVA: (5%) (10%) 25.000 TOTAL IVA: ...,None,None,None,None,None,None,None,None,001-001-0155745,2023-11-09